<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="MainController.js"></script>
</head>

<body ng-app="myApp" ng-controller="MainController">

<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <h3>Variant classification tool</h3>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Classify variant</a>
    </li>
  </ul>
</nav>
<br>

<div class="container">

<div class="row">
<div class="col-sm8 col-md-8 col-lg-8"><!-- main body start -->

    <div id="accordion" aria-multiselectable="true">
      <div ng-repeat="x in section" class="card">

        <div class="card-header">
            <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#myButton{{ $index }}">
              {{ x.header }}
            </a>
        </div>

        <div id="myButton{{ $index }}" class="collapse" data-parent="#accordion" aria-expanded="true">
          <div class="card-body">
              <table class="table table-condensed">
                <tr ng-repeat="y in x.criteria">
                    <td style="width:30px" align="center"><b>{{ y[0] }}</b></td>
                    <td style="width:300px">{{ y[1] }}</td>
                    <td style="width:100px" align="right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse" href="#">Comment</button>
                            <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                            <div class="dropdown-menu">
                                <div ng-repeat="z in y[2]">
                                    <a class="dropdown-item" href="#" ng-click="score.pvs1 = [1,0,0,0]">{{ z }}</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
              </table>
          </div>
        </div>

      </div>

    </div>

</div><!-- main body end -->

<div class="col-sm4 col-md-4 col-lg-4"><!-- Summary box start -->

    <div class="card">
        <div class="card-header">
            <h5>Summary</h5>
        </div>
        <div class="card-body">
            <table class="table table-condensed">
                <tr>
                    <p class="btn btn-block btn-lg btn-warning">VUS</p>
                </tr>
                <tr>
                    <td colspan="4"><b>Criteria applied:</b></td>
                </tr>
                <tr>
                    <td style="width:100px" align="center"><b><font color="red">PVS</font></b></td>
                    <td style="width:50px" align="center">{{ score.pvs1[0] }}</td>
                    <td style="width:100px" align="center"><b><font color="purple">BA</font></b></td>
                    <td style="width:50px" align="center">{{count-ba}}</td>
                </tr>
                <tr>
                    <td style="width:100px" align="center"><b><font color="red">PS</font></b></td>
                    <td style="width:50px" align="center">{{count-ps}}</td>
                    <td style="width:100px" align="center"><b><font color="purple">BS</font></b></td>
                    <td style="width:50px" align="center">{{count-bs}}</td>
                </tr>
                <tr>
                    <td style="width:100px" align="center"><b><font color="orange">PM</font></b></td>
                    <td style="width:50px" align="center">{{count-pm}}</td>
                    <td style="width:100px" align="center"><b><font color="blue">BP</font></b></td>
                    <td style="width:50px" align="center">{{count-bp}}</td>
                </tr>
                <tr>
                    <td style="width:100px" align="center"><b><font color="green">PP</font></b></td>
                    <td style="width:50px" align="center">{{count-pp}}</td>
                    <td style="width:100px" align="center"></td>
                    <td style="width:50px" align="center"></td>
                </tr>
            </table>
        </div>
    </div>

</div><!-- summary box end -->
</div>
</div>
</body>
</html>
