<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="MainController.js"></script>
</head>

<body ng-app="myApp" ng-controller="MainController">
<div class="container">

    <!-- navbar -->
    <nav class="navbar navbar-expand bg-light navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <h3>Variant classification tool</h3>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">Classify variant</a>
            </li>
        </ul>
    </nav>
    <br>
    <!-- navbar end -->

    <!-- main body -->
    <div class="row">
        <!-- left column start -->
        <div class="col-sm8 col-md-8 col-lg-8">
            <div id="accordion" aria-multiselectable="true">
                <div class="card">

                    <!--SECTION 1 -->
                    <div class="card-header">
                        <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#section1">
                          Variant type and gene variant profile
                        </a>
                    </div>
                    <div id="section1" class="collapse show" data-parent="#accordion" aria-expanded="true">
                        <div class="card-body">
                            <table class="table table-condensed">
                                <!-- PVS1 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PVS1</b></td>
                                    <td style="width:500px">
                                        Predicted null variant in a gene where LOF is a known mechanism of disease.
                                        <a data-toggle="collapse" href="#PVS1_moreinfo">More info...</a>
                                        <div class="collapse" id="PVS1_moreinfo">
                                            <div class="card card-body">
                                            More detailed info here........
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#PVS1_modal">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="pvs1_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="pvs1_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="pvs1_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- PM4 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PM4</b></td>
                                    <td style="width:500px">
                                        Protein length changing variant.
                                        <a data-toggle="collapse" href="#PM4_moreinfo">More info...</a>
                                        <div class="collapse" id="PM4_moreinfo">
                                            <div class="card card-body">
                                            More detailed info here........
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="pm4_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="pm4_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="pm4_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- PP2 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PP2</b></td>
                                    <td style="width:500px">
                                        in gene with low rate of benign missense variants and path. missenses common.
                                        <a data-toggle="collapse" href="#PP2_moreinfo">More info...</a>
                                        <div class="collapse" id="PP2_moreinfo">
                                            <div class="card card-body">
                                            More detailed info here........
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="pp2_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="pp2_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="pp2_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- BP1 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>BP1</b></td>
                                    <td style="width:500px">
                                        Missense in gene where only truncating cause disease.
                                        <a data-toggle="collapse" href="#BP1_moreinfo">More info...</a>
                                        <div class="collapse" id="BP1_moreinfo">
                                            <div class="card card-body">
                                            More detailed info here........
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="bp1_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="bp1_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="bp1_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- BP3 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>BP3</b></td>
                                    <td style="width:500px">
                                        In-frame indels in repeat w/out known function.
                                        <a data-toggle="collapse" href="#BP3_moreinfo">More info...</a>
                                        <div class="collapse" id="BP3_moreinfo">
                                            <div class="card card-body">
                                            More detailed info here........
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="bp3_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="bp3_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="bp3_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- PVS1 Modal -->
                    <div class="modal fade" id="PVS1_modal" tabindex="-1" role="dialog" aria-labelledby="PVS1_modal_label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="PVS1_modal_label">PVS1 - reasons for applying.</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input">
                                                Reason for applying 1
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input">
                                                Reason for applying 2
                                            </label>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <textarea class="form-control" id="PVS1_comments" placeholder="Comments..."></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-sm btn-danger">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--SECTION 2 -->
                    <div class="card-header">
                        <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#section2">
                          Frequency data
                        </a>
                    </div>
                    <div id="section2" class="collapse" data-parent="#accordion" aria-expanded="true">
                        <div class="card-body">
                            <table class="table table-condensed">
                                <!-- PS4 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PS4</b></td>
                                    <td style="width:500px">
                                        Prevalence in affecteds statistically increased over controls.
                                        <a data-toggle="collapse" href="#PS4_moreinfo">More info...</a>
                                        <div class="collapse" id="PS4_moreinfo">
                                            <div class="card card-body">
                                            More detailed info here........
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="ps4_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="ps4m_apply()">Apply PS4_M</a>
                                                <a class="dropdown-item" href="#" ng-click="ps4s_apply()">Apply PS4_S</a>
                                                <a class="dropdown-item" href="#" ng-click="ps4_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="ps4_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- PM2 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PM2</b></td>
                                    <td style="width:500px">
                                        Absent in population databases.
                                        <a data-toggle="collapse" href="#PM2_moreinfo">More info...</a>
                                        <div class="collapse" id="PM2_moreinfo">
                                            <div class="card card-body">
                                            More detailed info here........
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="pm2_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="pm2_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="pm2_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- BA1 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>BA1</b></td>
                                    <td style="width:500px">
                                        MAF is too high for disorder.
                                        <a data-toggle="collapse" href="#BA1_moreinfo">More info...</a>
                                        <div class="collapse" id="BA1_moreinfo">
                                            <div class="card card-body">
                                            More detailed info here........
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="ba1_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="ba1_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="ba1_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- BS1 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>BS1</b></td>
                                    <td style="width:500px">
                                        MAF is too high for disorder.
                                        <a data-toggle="collapse" href="#BS1_moreinfo">More info...</a>
                                        <div class="collapse" id="BS1_moreinfo">
                                            <div class="card card-body">
                                            More detailed info here........
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="bs1_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="bs1_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="bs1_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- BS2 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>BS2</b></td>
                                    <td style="width:500px">
                                        Observation in controls inconsistent with disease penetrance.
                                        <a data-toggle="collapse" href="#BS2_moreinfo">More info...</a>
                                        <div class="collapse" id="BS2_moreinfo">
                                            <div class="card card-body">
                                            More detailed info here........
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="bs2_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="bs2_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="bs2_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!--SECTION 3 -->
                    <div class="card-header">
                        <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#section3">
                          Review of literature and databases
                        </a>
                    </div>
                    <div id="section3" class="collapse" data-parent="#accordion" aria-expanded="true">
                        <div class="card-body">
                            <table class="table table-condensed">
                                <!-- PS1 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PS1</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="ps1_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="ps1_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="ps1_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- PM1 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PM1</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="pm1_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="pm1_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="pm1_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- PM5 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PM5</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="pm5_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="pm5_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="pm5_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- PP5 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PP5</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="pp5_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="pp5_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="pp5_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- BP6 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>BP6</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="bp6_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="bp6_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="bp6_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!--SECTION 4 -->
                    <div class="card-header">
                        <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#section4">
                          Functional studies
                        </a>
                    </div>
                    <div id="section4" class="collapse" data-parent="#accordion" aria-expanded="true">
                        <div class="card-body">
                            <table class="table table-condensed">
                                <!-- PS3 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PS3</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="ps3_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="ps3_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="ps3_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- BS3 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>BS3</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="bs3_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="bs3_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="bs3_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!--SECTION 5 -->
                    <div class="card-header">
                        <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#section5">
                          Computer predictions
                        </a>
                    </div>
                    <div id="section5" class="collapse" data-parent="#accordion" aria-expanded="true">
                        <div class="card-body">
                            <table class="table table-condensed">
                                <!-- PP3 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PP3</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="pp3_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="pp3_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="pp3_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- BP4 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>BP4</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="bp4_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="bp4_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="bp4_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- BP7 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>BP7</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="bp7_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="bp7_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="bp7_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!--SECTION 6 -->
                    <div class="card-header">
                        <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#section6">
                          De novo variants
                        </a>
                    </div>
                    <div id="section6" class="collapse" data-parent="#accordion" aria-expanded="true">
                        <div class="card-body">
                            <table class="table table-condensed">
                                <!-- PS2 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PS2</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="ps2_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="ps2_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="ps2_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- PM6 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PM6</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="pm6_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="pm6_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="pm6_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!--SECTION 7 -->
                    <div class="card-header">
                        <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#section7">
                          Phenotype and family history information
                        </a>
                    </div>
                    <div id="section7" class="collapse" data-parent="#accordion" aria-expanded="true">
                        <div class="card-body">
                            <table class="table table-condensed">
                                <!-- PP1 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PP1</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="pp1_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="pp1_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="pp1_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- PP4 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PP4</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="pp4_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="pp4_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="pp4_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- BS4 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>BS4</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="bs4_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="bs4_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="bs4_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!--SECTION 8 -->
                    <div class="card-header">
                        <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#section8">
                          Multiple variants identified in a patient
                        </a>
                    </div>
                    <div id="section8" class="collapse" data-parent="#accordion" aria-expanded="true">
                        <div class="card-body">
                            <table class="table table-condensed">
                                <!-- PM3 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>PM3</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="pm3_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="pm3_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="pm3_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- BP2 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>BP2</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="bp2_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="bp2_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="bp2_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- BP5 -->
                                <tr>
                                    <td style="width:30px" align="center"><b>BP5</b></td>
                                    <td style="width:300px">Description</td>
                                    <td style="width:100px" align="right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="collapse">Comment</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Apply  <span class="caret"></span></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" ng-click="bp5_apply()">Apply</a>
                                                <a class="dropdown-item" href="#" ng-click="bp5_notapplied()">Maybe</a>
                                                <a class="dropdown-item" href="#" ng-click="bp5_notapplied()">Not applied</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- left column end -->

        <!-- right column start -->
        <div class="col-sm4 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5>Summary</h5>
                </div>
                <div class="card-body">
                    <p class="btn btn-block btn-lg btn-warning" ng-click="classify()" ng-if="classification === 'vus1'">VUS (Mixed criteria)</p>
                    <p class="btn btn-block btn-lg btn-warning" ng-click="classify()" ng-if="classification === 'vus2'">VUS (Criteria not met)</p>
                    <p class="btn btn-block btn-lg btn-danger" ng-click="classify()" ng-if="classification === 'pathogenic'">Pathogenic</p>
                    <p class="btn btn-block btn-lg btn-danger" ng-click="classify()" ng-if="classification === 'likely_pathogenic'">Likely pathogenic</p>
                    <p class="btn btn-block btn-lg btn-info" ng-click="classify()" ng-if="classification === 'likely_benign'">Likely benign</p>
                    <p class="btn btn-block btn-lg btn-info" ng-click="classify()" ng-if="classification === 'benign'">Benign</p>
                    <table class="table table-condensed">
                        <tr>
                            <td colspan="4"><b>Criteria applied:</b></td>
                        </tr>
                        <tr>
                            <td style="width:100px" align="center"><b><font color="red">PVS</font></b></td>
                            <td style="width:50px" align="center">{{path_vs()}}</td>
                            <td style="width:100px" align="center"><b><font color="purple">BA</font></b></td>
                            <td style="width:50px" align="center">{{benign_a()}}</td>
                        </tr>
                        <tr>
                            <td style="width:100px" align="center"><b><font color="red">PS</font></b></td>
                            <td style="width:50px" align="center">{{path_s()}}</td>
                            <td style="width:100px" align="center"><b><font color="purple">BS</font></b></td>
                            <td style="width:50px" align="center">{{benign_s()}}</td>
                        </tr>
                        <tr>
                            <td style="width:100px" align="center"><b><font color="orange">PM</font></b></td>
                            <td style="width:50px" align="center">{{path_m()}}</td>
                            <td style="width:100px" align="center"><b><font color="blue">BP</font></b></td>
                            <td style="width:50px" align="center">{{benign_p()}}</td>
                        </tr>
                        <tr>
                            <td style="width:100px" align="center"><b><font color="green">PP</font></b></td>
                            <td style="width:50px" align="center">{{path_p()}}</td>
                            <td style="width:100px" align="center"></td>
                            <td style="width:50px" align="center"></td>
                        </tr>
                    </table>
                    <a class="btn btn-block btn-lg btn-secondary" href="#">Report</a>
                    <a class="btn btn-block btn-lg btn-secondary" href="index.html">Clear</a>
                </div>
            </div>
        </div>
        <!-- right column en -->

    </div>
    <!-- main body end -->
</div>
</body>
</html>
